/* status */
.extensionStatus {
   float: right;
   font-weight: bold;
   color: #FF9933;
}
.extensionStatus:before {
    content: "Version "
}
.installedVersion-None:after {
    content: " not installed";
}
.installedVersion-Same:after {
    content: ", already installed";
    color: green;
}
.installedVersion-Older:after {
    content: " older version installed";
}
.installedVersion-Newer:after {
    content: " newer version installed";
}
.installing-download_start:after {
    content: " download started";
}
.installing-download_start:after {
    content: " download complete";
    color: blue;
}
.installing-download_done:after {
    content: " download complete";
    color: green;
}
.installing-install_start:after {
    content: " install started";
    color: blue;
}
.installing-install_done:after {
    content: " install complete";
    color: green;
}
.install-failed {
    color: red;
}
.installNotAllowed {
    color: red;
}
.installLink:after {
    content: " linked directory";
}
.installRegistry:after {
    content: " registry extension";
}
.installHashMissing:after {
    content: " no hash! ";
}

.buildableExtension:after {
    color: red;
    content: " buildable";
}
