
#swarmWorkflows {
    padding: 10px;
    margin: 10px;
    border: 1px gray solid;
    display: none;
}
#swarmWebPage {
    color: red;
    font-weight:bold;
}

.swarmWorkflow button.swarmWorkflowStart:after {
    content: "->";
}
.swarmWorkflow button.swarmWorkflowStep:after {
    content: "->";
}
.swarmWorkflow button.swarmWorkflowEnd {
    margin-right: 10px;
}

tr.swarmWorkflowSelected td {
     color: black;
}
button.swarmWorkflowing {
    background: #008800;
}
button.swarmWorkFailed {
    background: #330000;
}
table.swarmWorkflowIsSelected table tr td {
    display: none;
}
table.swarmWorkflowIsSelected table tr.swarmWorkflowSelected td {
    display: table-cell;
}
table.swarmWorkflowIsSelected caption {
    display: none;
}
td#selectWorkflow {
    font-weight: bold;
}
table.swarmWorkflowIsSelected td#selectWorkflow {
    display: table-cell;
    background-image:url("chrome://firebug/skin/win/twistyClosed.png");
    background-position: left center;
    background-repeat:no-repeat;
    cursor: pointer;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 18px;
}

.swarmTaskDataNotNeeded {
    display: none;
}