/*-----------------------------------------------------------------------------*/

.testTable {
    width: 100%;
    overflow: hidden;
    border-left: 1px solid #EFEFEF;
    border-top: 1px solid #EFEFEF;
}

.testListRow {
    background: white;
}

.testListRow:hover {
    background: #EFEFEF;
}

.testListCol {
    padding: 0;
    vertical-align: top;
    border-bottom: 1px solid #EFEFEF;
    white-space: nowrap;
}

.testUri {
    overflow: hidden;
    min-width: 70px;
    padding: 1px 0 2px 4px !important;
}

.testDesc {
    color: Gray;
    margin-right: 7px;
    text-align: left;
    padding: 1px 0 2px 4px !important;
}

.testLink {
    color: #0000ff;
    cursor:pointer;
}

/*-----------------------------------------------------------------------------*/

.categoryTable {
    width: 100%;
    overflow: hidden;
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-size: 11px;
    border: 1px solid #EFEFEF;
}

.testCategoryRow {
    background: white;
    height:17px;
}

.opened > .testCategoryCol > .testCategoryName {
    background-image: url(chrome://firebug/skin/win/twistyOpen.png);
}

.testCategoryName {
    background-image: url(chrome://firebug/skin/win/twistyClosed.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 18px;
    font-weight: bold;
    cursor:pointer;
}

.testCategoryCount {
    color: gray;
    padding-left: 3px;
}

.categoryBodyCol {
    padding-left: 18px;
    padding-bottom: 5px;
}

.categoryAction {
    white-space:nowrap;
    padding-left: 15px;
    padding-right: 5px;
}
